.realms-animation {
	height: 4.5rem;
	overflow: hidden;
}

.realms-animation > ul {
	font-size: 4rem;
	transform: translateY(calc(-100% + 4.5rem));
	transition: transform 2000ms ease-in-out;
}

.realms-animation:hover > ul {
	transform: translateY(0%);
}
