.slot-machine-animation {
	overflow: hidden;
	height: 2rem;
}

.slot-machine-animation > ul {
	font-size: 1.5rem;
	transform: translateY(calc(-100% + 2rem));
	transition: transform 2000ms cubic-bezier(0.2, -0.1, 0.37, 1.1);
}

.slot-machine-animation[data-chosen="true"] > ul {
	transform: translateY(calc(0% - 0.25rem));
}
.slot-machine-animation[data-chosen="false"] > ul {
	transform: translateY(calc(-100% + 2rem));
	transition: transform 0ms;
}

@media (min-width: 640px) {
	.slot-machine-animation {
		height: 2.5rem;
	}
	.slot-machine-animation > ul {
		font-size: 2rem;
		/* transform: translateY(calc(-100% + 3rem)); */
	}

	.slot-machine-animation[data-chosen="true"] > ul {
		transform: translateY(0%);
	}
	.slot-machine-animation[data-chosen="false"] > ul {
		transform: translateY(calc(-100% + 3rem));
	}
}

@media (min-width: 1024px) {
	.slot-machine-animation {
		height: 4.5rem;
	}
	.slot-machine-animation > ul {
		font-size: 4rem;
		transform: translateY(calc(-100% + 5rem));
	}

	.slot-machine-animation[data-chosen="true"] > ul {
		transform: translateY(calc(0% - 1rem));
	}
	.slot-machine-animation[data-chosen="false"] > ul {
		transform: translateY(calc(-100% + 5rem));
	}
}
